.caption {
  position: absolute;
  width: 506px;
  height: 485px;
  left: 140px;
  top: 300px;
}
h1 {
  width: 500px;
  height: 150px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 85px;
  color: #272142;
}
h3 {
  font-family: "Ubuntu";
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  position: absolute;
  line-height: 50px;
  color: #272142;
}
