:root {
  --brand-color: #6c63ff;
  --primary-color: rgb(67, 92, 56);
  --secondary-color: #272142;
  --third-color: white;
  --fouth-color: #004a2f;
  --background-grass: #55c59d;
  --box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

body {
  margin: 0;
  background-color: azure;
}
.h-1 {
  font-weight: 400;
  font-size: 2.5rem;
  margin: 0;
}
img {
  display: block;
  width: 100%;
}
.stan-lee_app {
  width: 800px;
  margin: 0 auto;
}
.weather-app {
  width: 600px;
  margin: 0 auto;
}
main {
  max-width: 900px;
  margin: auto;
  box-shadow: 30px 0px 40px rgba(0, 0, rgb(179, 0, 255), 1.5),
    -30px 0px 40px rgba(0, 0, rgb(179, 0, 255), 1.5);
}
.landing {
  background-color: #fff;
}
.landing-text {
  display: flex;
  flex: 0 1 45vw;
  height: 50vh;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding-right: 1rem;
  padding-left: 1rem;
}
#landing-image {
  background: url(/images/self-pic.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  flex: 0 1 500vw;
  margin: 0;
}

.btn {
  padding: 0.5rem 2rem;
  border: 1px #ccc solid;
  display: inline-block;
  margin: 2rem 0 0;
  border-radius: 50px;
  text-decoration: dashed;
  transition: background 500ms ease;
}
.btn:hover {
  background-color: green;
}
#header {
  padding: 1.5rem;
  text-align: center;
  background: var(--background-grass);
  color: #fff;
}
#header h2 {
  border-left: dotted 1px #fff;
  border-right: dotted 1px #fff;
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
}
#caption {
  padding: 0.8rem;
  text-align: center;
}
.content-container {
  padding: 60px 20px;
}
.content {
  margin: 30px;
  box-sizing: border-box;
}
.about-section-content {
  margin: 30px;
}
.btn-branding {
  background-color: var(--brand-color);
  border-radius: 4px;
  color: var(--third-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.content h1,
.content h3 {
  color: green;
}
.content h1 {
  font-size: 64px;
  line-height: 1.5;
}
.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: "Ubuntu";
}
.content p {
  font-size: 15px;
  font-weight: normal;
  line-height: 30px;
  font-family: "Playfair Display";
}
.content work-p {
  margin: 0;
  font-size: 9px;
}
.wrapper .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 10px;
  padding: 15px;
  width: 65px;
  height: 65px;
  line-height: 50px;
  font-size: 42px;
  display: inline-block;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #333;
  text-decoration: none;
}
.wrapper .tooltip {
  position: absolute;
  top: 0;
  line-height: 1.5;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover .tooltip {
  top: -55px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}
.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}
.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}
.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}
.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}

.container {
  display: flex;
}
.container .h1 {
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

h1 {
  width: 500px;
  height: 150px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 85px;
  color: var(--primary-color);
}
h2 {
  font-family: "Kavoon", serif;
}
h3 {
  font-family: "Ubuntu", serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  position: absolute;
  line-height: 50px;
  color: var(--third-color);
}
h4 {
  font-family: "Kavoon", serif;
}
.offset-md-7 {
  padding: 2000px 15px 10px 5px;
}

footer {
  text-align: center;
  margin: auto;
  color: green;
  margin: 60px 0;
}
footer .contact_box {
  background-color: var(--background-grass);
  padding: 30px 120px;
  color: var(--third-color);
  border-radius: 10px;
  margin: 0 20px;
}
footer .contact_box h4 {
  font-size: 48px;
}
footer .contact_box p {
  margin: 0;
}
.email_link {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 24px;
  border-radius: 56px;
}
.email_link:hover {
  background-color: var(--fouth-color);
  color: var(--third-color);
}
footer .social_links a {
  margin: 0 20px;
  background-color: var(--secondary-color);
  padding: 10px 11px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
footer .social_links a:hover {
  box-shadow: var(--box-shadow);
  background-color: var(--primary-color);
  color: var(--third-color);
}
/* Aboutme extra details */
.app {
  display: grid;
}
.flex-grid {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-content: center;
}
.flex-grid div {
  flex: 1 1;
  align-self: center;
}
.emoji {
  justify-content: right;
  text-align: center;
  grid-area: "emoji";
}
.social_links {
  margin: 30px 0 0;
}
.jss1 {
  margin: 24px 0 8px 0;
}
#emoji {
  animation-duration: 4s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes slidein {
  from {
    margin-left: 50%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 50%;
  }
}
/* `lg` applies to medium devices (tablets, less than 992px)*/
@media (max-width: 992px) {
  .landing {
    display: flex;
    height: 100%;
  }
  #landing-text {
    height: 100vh;
  }
  .content {
    text-align: center;
    padding: 0;
  }

  .container h3 {
    margin-bottom: 50px;
  }
  .landing .h-1 {
    padding: 20px 15px 10px 5px;
    font-weight: 200;
    font-size: small;
  }
  .offset-md-10 .h-2 {
    color: whitesmoke;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }
  #landing-image {
    position: relative;
    filter: grayscale(45%);
    object-fit: fill;
  }
  #landing-image h3 {
    padding-top: 300px;
  }
  main .text-center {
    border-width: 100px;
    font-family: "Playfair Display";
    background-color: beige;
    border-radius: 5px;
    margin-top: 30px;
    box-shadow: var(--box-shadow);
  }
  .stan-lee_app {
    width: 500px;
    margin: 0 auto;
  }
  .weather-app {
    width: 350px;
    margin: 0 auto;
  }
  /* Contact INFO*/
  footer .contact_box {
    padding: 30px;
  }
  footer .contact_box h4 {
    font-size: small;
  }
  /* ABOUT ME */

  .wrapper .icon {
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 10px;
    padding: 15px;
    width: 65px;
    height: 65px;
    line-height: 50px;
    font-size: 42px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: #333;
    text-decoration: none;
  }
  .about-section-content .col-md-7 h1 {
    font-size: 50px;
    padding-bottom: 15px;
    padding-top: 50px;
  }
  .social_links {
    position: relative;
    top: 0px;
    bottom: 30px;
    padding-top: -900px;
  }
  .mb-6 {
    display: flex;
    padding-top: 100px;
  }
  .col-xs-2 {
    font-size: 18px;
    padding-left: 15px;
    padding-right: 40px;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  #emoji {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }
}
