:root {
  --primary-color: white;
  --secondary-color: #272142;
}
.caption {
  position: absolute;
  width: 506px;
  height: 485px;
  left: 140px;
  top: 300px;
}
h1 {
  width: 500px;
  height: 150px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 85px;
  color: var(--primary-color);
}
h3 {
  font-family: "Ubuntu";
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  position: absolute;
  line-height: 50px;
  color: var(--primary-color);
}
#style-1 {
  position: absolute;
  right: calc(40% - 450px / 2 - 342.5px);
  top: 800px;
}
#style:hover {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
@media (max-width: 992px) {
  /* Homepage*/

  .container-1 #style-2 {
    display: block;
  }
  #style-2 {
    display: flex;
    align-self: flex-start;
    margin-right: 250px;
  }
  p {
    flex-direction: row;
    margin-top: 400px;
    margin-left: -100px;
    padding-right: 90px;
    font-size: 16px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .caption h3 {
    position: absolute;
    left: 20px;
    bottom: 70px;
  }
  .caption {
    display: block;
  }
  #style-1 {
    justify-content: center;
    top: auto;
    right: 200px;
  }
  #style-1 button {
    width: 200px;
    color: black;
  }
  #style-1 button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }

  /*About ME */
}
